/* Posición del botón de ayuda */
.pqrs-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c0392b; /* Mejor contraste */
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

/* Ventana emergente */
.pqrs-popup {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: white;
  border: 1px solid #999; /* Borde gris oscuro */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  animation: popup-fade 0.3s ease-out;
}


@keyframes popup-fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pqrs-option {
  background-color: #c0392b; /* Mejor contraste */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pqrs-option:hover {
  background-color: #922b21; /* Más oscuro al pasar el mouse */
}

/* Estilos para el carrusel */
.carousel-img {
  height: 60vh; /* Hace que el carrusel tenga una buena altura en pantallas grandes */
  object-fit: cover;
}

.carousel-caption {
  bottom: 20%; /* Mantiene el texto en una buena posición */
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .carousel-img {
    height: 80vh; /* Hace que el carrusel sea más grande en móviles */
  }

  .carousel-caption {
    bottom: 10%; /* Ajusta el texto más abajo */
  }

  .carousel-caption h5 {
    font-size: 1.3rem; /* Ajusta tamaño de los textos */
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .carousel-item img {
    object-fit: cover;
    height: 600px;
    filter: brightness(0.8);
  }
}

.text-custom {
  color: #ffffff;
}
