.enviar-queja-container {
    max-width: 600px;
    margin: auto;
}

.custom-card {
    border-radius: 15px;
    overflow: hidden;
}

.custom-header {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.custom-btn {
    border-radius: 25px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    transition: 0.3s;
}

.custom-btn:hover {
    background-color: #218838;
}