<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg p-4">
          <h2 class="text-center mb-4">Formulario de Sugerencias</h2>
          <form [formGroup]="sugerenciasForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="motivo" class="form-label">Motivo</label>
              <input type="text" class="form-control" id="motivo" formControlName="motivo" placeholder="Motivo" required>
            </div>
            <div class="mb-3">
              <label for="mensaje" class="form-label">Tu Sugerencia</label>
              <textarea class="form-control" id="mensaje" formControlName="mensaje" rows="4" placeholder="Escribe tu sugerencia aquí" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="sugerenciasForm.invalid">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>